# **Marketing Campaign for Banking Products**

**Introduction to the Bank Personal Loan dataset:**

The file Bank.xls contains data on 5000 customers. The data include customer
demographic information (age, income, etc.), the customer's relationship with the bank
(mortgage, securities account, etc.), and the customer response to the last personal
loan campaign (Personal Loan).

**A Little Overview of the dataset:**

We get **14 variables** in total of which:

*   **4 are continuous**
*   **2 are discrete**
*   **8 are cotegorical**

**Problem Statement Definition**

The bank has a growing customer base. **The bank wants to increase borrowers (asset customers)**  base to bring in more loan business and earn more through the interest on loans. So ,the bank wants to convert the liability based customers to personal loan customers.**The department wants you to build a model that will help them identify the potential customers who have a higher probability of purchasing the loan.** This will increase the success ratio while at the same time reduce the cost of the campaign.

**Machine Learning Methodology â€“ step by step**

We will follow these steps:

1.   Importing dataset and libraries
2.   Data cleaning and formatting
3.   EDA (Exploratory Data Analysis)
4.   Feature Engineering
5.   Training our model
6.   Building various other classification algorithms
7.   Compairing the performance of our models
8.   Business understanding of our model

# **1- Importing the dataset and libraries**

In [157]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt      
%matplotlib inline

from numpy import cov
from scipy import stats
from sklearn import metrics

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [158]:
#from google.colab import files
#uploaded=files.upload()

**Reading our dataset**

In [159]:
# Reading the .csv file consisting of the bank records
df=pd.read_csv(r'/content/Loan_Modelling.csv')
print(df)

        ID  Age  Experience  ...  CD Account  Online  CreditCard
0        1   25           1  ...           0       0           0
1        2   45          19  ...           0       0           0
2        3   39          15  ...           0       0           0
3        4   35           9  ...           0       0           0
4        5   35           8  ...           0       0           1
...    ...  ...         ...  ...         ...     ...         ...
4995  4996   29           3  ...           0       1           0
4996  4997   30           4  ...           0       1           0
4997  4998   63          39  ...           0       0           0
4998  4999   65          40  ...           0       1           0
4999  5000   28           4  ...           0       1           1

[5000 rows x 14 columns]

# **2- Data cleaning and formatting**

In data cleaning and formatting will especially take care of:

*   Missing values
*   Wrong values
*   Wrong datatypes
*   Outliers

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [161]:
df.describe()

                ID          Age  ...       Online   CreditCard
count  5000.000000  5000.000000  ...  5000.000000  5000.000000
mean   2500.500000    45.338400  ...     0.596800     0.294000
std    1443.520003    11.463166  ...     0.490589     0.455637
min       1.000000    23.000000  ...     0.000000     0.000000
25%    1250.750000    35.000000  ...     0.000000     0.000000
50%    2500.500000    45.000000  ...     1.000000     0.000000
75%    3750.250000    55.000000  ...     1.000000     1.000000
max    5000.000000    67.000000  ...     1.000000     1.000000

[8 rows x 14 columns]

In [162]:
# Checking the overall structure of the dataset.
df.shape

(5000, 14)

**Checking for missing values**

In [163]:
# Checking for any null values.
df.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

**Checking the datatypes of variables**

In [164]:
# Checking the data types of all variables.
df.dtypes

ID                      int64
Age                     int64
Experience              int64
Income                  int64
ZIP Code                int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

**Taking care of wrong values**

*Experience cannot be negative, so we handle the incorrect experience records by replacing them with the median value.*

In [166]:
exp_median=df['Experience'].median()
for i in range(df.shape[0]): 
  if df.Experience.iloc[i]<0:
    df.Experience.iloc[i]=exp_median

df['Experience'].describe()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

count    5000.000000
mean       20.327600
std        11.253035
min         0.000000
25%        11.000000
50%        20.000000
75%        30.000000
max        43.000000
Name: Experience, dtype: float64

In [ ]:
covariance=cov(df['Experience'],df['Age'])
print(covariance)

In [ ]:
# Making a scatter plot betwwen Experience and Age variables.
Age_v_Exp=plt.scatter(df['Age'],df['Experience'],c='Cyan',edgecolors='Black')
plt.title('Age-Experience Graph')
plt.xlabel('Age')
plt.ylabel('Experience')
plt.grid(True)

*From the above graph we can see that Age and Experience are highly correlated. For the logistic regression model we should have highly correlated data, so we will drop the Experience column.*

*Since ZIP Code has 467 unique values, it a nominal variable and hence it should be dropped.*

*Also the customer ID variable is noisy data and is irrelevant as it dosen't help our model in any way. So, we will also drop customer ID column.*

**Dropping irrelevant columns**

In [ ]:
df=df.drop(['ID','ZIP Code','Experience'],axis=1)
df.info

In [ ]:
# Checking skewness values of all variables to detect any outliers.
df.skew()

# **3- EDA (Exploratory Data Analysis)**

 **Displaying number of unique values in each column.**

In [ ]:
for i in ['Age','Income','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']:
  print(i,':',df[i].nunique())

In [ ]:
# Displaying the number of bank customers with zero mortgage.
print('Number of people with zero mortgage:',len(df[df['Mortgage']==0]))

# Displays the number of customers with zero credit card spending per month.
print('\nNumber of people with zero credit card spending per month:',len(df[df['CCAvg']==0]))

**Value counts of categorical columns.**

In [ ]:
print('Value counts of all categorical data:')
for i in (['Family','Education','Securities Account','CD Account','Online','CreditCard']):
  print('\n',i,':')
  print(df[i].value_counts())

**Univariate analysis**

*Let us take a look at the graphs of different variables.*

In [ ]:
plt.pie(df['Education'].value_counts(),startangle=90,labels=['1','3','2'],autopct='%1.1f%%')
plt.title('Pie-chart for educatedness of customers')
plt.show()

In [ ]:
# Graph of the income details of customers.
sns.distplot(df['Income'],color='Blue')
plt.title('Income')
plt.show()

In [ ]:
# Average credit card spending of customer graph.
sns.distplot(df['CCAvg'],color='Black')
plt.title('CCAvg')
plt.show()

In [ ]:
# Graph on the mortgage of customers.
sns.distplot(df['Mortgage'])
plt.title("Mortgage")
plt.show()

In [ ]:
# Histogram of the ages of customers.
plt.hist(df['Age'],bins=10,color='Green')
plt.xlabel('Age')
plt.show()

In [ ]:
# Histogram for the number of customers having credit cards.
plt.figure(figsize=(5,5))
plt.hist(df.CreditCard,density=True,color='Pink')
plt.show()

**Examining our Target variable**

In [ ]:
# Pie-chart representing percentage of customers getting Personal Loans.
plt.pie(df['Personal Loan'].value_counts(),autopct="%1.1f%%",startangle=70)
plt.show()

*Thus only 9.8% of our customers are eligible for getting a Personal Loan from ourr bank.*

**Bivariate/Multivariate analysis**

In [ ]:
# Box plot of Family, Income and Personal Loan of customer.
plt.style.use('ggplot')
f=df.loc[df['Personal Loan'].isin(['0','1'])]
sns.boxplot(df.Family,df.Income,hue=df['Personal Loan'],data=f)
plt.show()

In [ ]:
# Box plot between Family and Average credit card spendings per month.
sns.boxplot(df.Family,df.CCAvg)
plt.show()

In [ ]:
# Plotting a heatmap of all variables of our dataset.
plt.figure(figsize=(15,10))
sns.heatmap(df.corr(),linewidth=0.5,annot=True)

In [ ]:
# Plotting graphs between all variables.
sns.pairplot(df,diag_kind='kde')

# **4- Feature Engineering**

In [ ]:
# Checking the skewness values of all columns.
df.skew()

*From our EDA that CCAvg and Mortgage have skewness values > 1, hence are showing rightly skewed. For Machine Learning models we need our features to have a Gaussian distrubution.*

*We will apply neccessary transformations to convert the skewed data into a Gaussian or Normal distribution.*

*For a normally distributed variable we must have skewness value between -1 and 1.*

**Applying Yeo-Johnson Power transformation on CCAvg and Income columns.**

In [ ]:
# Applying Yeo-Jhonson power transformation on Income column.
ptransform_1=PowerTransformer(method='yeo-johnson',standardize=False)
ptransform_1.fit(df['Income'].values.reshape(-1,1))
df['Income']=ptransform_1.transform(df['Income'].values.reshape(-1,1))
sns.distplot(df['Income'])

In [ ]:
# Applying Yeo-Jhonson power transformation on CCAvg column.
ptransform_2=PowerTransformer(method='yeo-johnson', standardize=False)
ptransform_2.fit_transform(df['CCAvg'].values.reshape(-1,1))
df['CCAvg']=ptransform_2.transform(df['CCAvg'].values.reshape(-1,1))
sns.distplot(df.CCAvg)

*Now, both the Income and CCAvg column have slightly better distributions.*

In [ ]:
Y=df['Personal Loan']
X=df.drop('Personal Loan',axis=1)

In [ ]:
# Plotting graph for Mortgage.
sns.distplot(X['Mortgage'])

*From the graph of Mortgage above we can see that there is discontinuity in our graph. We do not want a discontinuous distribution, thus we will apply binning on our Mortgage column.*

*Binning method is used for smoothing of data or to handle noisy data. In this method, the data is first sorted and then the sorted values are distributed into a number of buckets or bins.*

In [ ]:
# We apply binning on Mortgage column.
X['Mortgage_val']=pd.cut(X['Mortgage'],bins=[0,100,200,300,400,500,600,700],labels=[0,1,2,3,4,5,6],include_lowest=True)
X.drop(['Mortgage'],axis=1,inplace=True)
X.head()

In [ ]:
df.describe()

**Scaling our data**

*The data shows us that there is highly varying magnitudes of all coulumns. We need to scale our data, otherwise our machine learning algorithm tends to weigh greater values, higher and consider smaller values as the lower values, regardless of the unit of the values.*

*Feature Scaling is a technique to standardize the independent features present in the data in a fixed range. *

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from pandas import DataFrame
trans=MinMaxScaler()
dataset=trans.fit_transform(X)
X=DataFrame(dataset)

*We do not need to transform variables Personal Loan, Securities Account and CD Account as they are categorical variables.*

# **5- Training our model**

**1- Logistic Regression model**

**Splitting dataset into Train and Test data**

*We will split our dataset into train and test data in the ratio; 70% training data and 30% test data. Then we will use our model to make predictions.*

In [ ]:
# Splitting the dataset into train and test data.
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,stratify=Y,random_state=0)

In [ ]:
Y.value_counts()

**Training and Testing our Logistic Regression model.**

In [ ]:
logistic_regression=LogisticRegression()
logistic_regression.fit(x_train,y_train)

In [ ]:
# Testing our Logistic Regression model.
y_pred=logistic_regression.predict(x_test)

**Evaluation of Logistice Regression model.**

*In this section we will evaluate our model with different parameters such as accuracy, precision, recall score, confusion matrix and ROC curve in order to mesure the performance of our model.*

**-> Test and Train dataset accuracy**

In [ ]:
# Displaying the accuracies of our model.
print('Accuracy of Logistic Regression model:')
print('Test data accuracy:',logistic_regression.score(x_test,y_test)*100)
print('Train data accuracy:',logistic_regression.score(x_train,y_train)*100)

*Thus our model has an accuracy of 95.53% on test dataset and an accuracy of 95.34% on train dataset.*

**-> Precision, Recall and F1 scores**

In [ ]:
# Evaluating the scores of our model.
print("Precision:",metrics.precision_score(y_test, y_pred)*100)
print("Recall:",metrics.recall_score(y_test, y_pred)*100)
print('F1:',metrics.f1_score(y_test,y_pred)*100)

**-> Confusion Matrix**

*A confusion matrix is a table that is often used to describe the performance of a classification model on a set of test data for which the true values are known. The*

In [ ]:
# Making a confusion matrix.
from sklearn import metrics
cnf_mat_1=metrics.confusion_matrix(y_test,y_pred)
print(cnf_mat_1)

In [ ]:
# Count of test data.
y_test.count()

In [ ]:
fig, ax = plt.subplots()
sns.heatmap(cnf_mat_1,annot=True,cmap="YlGnBu",fmt='.2f')
ax.xaxis.set_label_position("top")
plt.xlabel('Predicted values')
plt.ylabel('Actual values')
plt.title('Confusion Matrix')
plt.tight_layout()

*From the confusion matrix we observe that our model is predicting 1348 True Positives and 85 True Negative predictions. Which means our model makes 1348 + 85= 1433 correct predictions out of 1500.*

*It also shows us that our model makes 59 + 8 = 67 wrong predictions.*

*From the above accuracy, precision and recall scores we can observe that our model has high accuracy and precision and is working really well in making predictions.*

**-> ROC Curve**

*Receiver Operating Characteristic(ROC) curve is a plot of the true positive rate against the false positive rate. It shows the tradeoff between sensitivity and specificity.*

In [ ]:
y_pred_proba = logistic_regression.predict_proba(x_test)[::,1]
fpr,tpr,_=metrics.roc_curve(y_test,  y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)
plt.plot(fpr,tpr,label="data 1, auc="+str(auc))
plt.xlabel('False Positive')
plt.ylabel('True Positive')
plt.legend(loc=4)
plt.show()

*AUC score for our Logistic Regression model is 0.96. AUC score 1 represents perfect classifier, and 0.5 represents a worthless classifier.*

# **6- Building various other classification algorithms**

**2- Decision Tree model**

In [ ]:
des_tree=DecisionTreeClassifier(random_state=0,max_depth=8)
des_tree=des_tree.fit(x_train,y_train)
y_pred_dt=des_tree.predict(x_test)

**-> Test and Train dataset accuracy**

In [ ]:
print('Accuracy scores of Descision Tree model:')
print('Train data accuracy:',des_tree.score(x_train,y_train)*100)
print('Train data accuracy:',des_tree.score(x_test,y_test)*100)

The Decision Tree model has an accuracy of 99.57%, which is better than the Logistic Regression model.

**-> Precision, Recall and F1 scores**

In [ ]:
print("Precision:",metrics.precision_score(y_test, y_pred_dt)*100)
print("Recall:",metrics.recall_score(y_test, y_pred_dt)*100)
print('F1:',metrics.f1_score(y_test,y_pred_dt)*100)

**-> Confusion Matrix**

In [ ]:
cnf_mat_2=metrics.confusion_matrix(y_test,y_pred_dt)
print(cnf_mat_2)

In [ ]:
fig_2, ax_2 = plt.subplots()
sns.heatmap(cnf_mat_2,annot=True,cmap="YlGnBu",fmt='.2f')
ax_2.xaxis.set_label_position("top")
plt.xlabel('Predicted values')
plt.ylabel('Actual values')
plt.title('Confusion Matrix')
plt.tight_layout()

From the confusion matrix we observe that the Decision Tree model has 1342 True Positives and 131 True Negatives. i.e it makes 1342 + 131 = 1473 correct predictions.

Also, the model predicts only 13 False Positives.

**-> ROC Curve**

In [ ]:
y_pred_proba2 = des_tree.predict_proba(x_test)[::,1]
fpr2,tpr2,_=metrics.roc_curve(y_test,  y_pred_proba2)
auc2 = metrics.roc_auc_score(y_test, y_pred_proba2)
plt.plot(fpr2,tpr2,label="data 1, auc="+str(auc2))
plt.xlabel('False Positive')
plt.ylabel('True Positive')
plt.legend(loc=4)
plt.show()

*AUC score for our Decision Tree model is 0.95.*

**3- Random Forest Classifier**

In [ ]:
rand_for=RandomForestClassifier(random_state=0,n_estimators=500,max_depth=8)
rand_for=rand_for.fit(x_train,y_train)
y_pred_rf=rand_for.predict(x_test)

**-> Test and Train dataset accuracy**

In [ ]:
print('Accuracy scores of Random Forest Classifier:')
print('Train data accuracy:',rand_for.score(x_train,y_train)*100)
print('Test data accuracy:',rand_for.score(x_test,y_test)*100)

**-> Precision, Recall and F1 scores**

In [ ]:
print("Precision:",metrics.precision_score(y_test, y_pred_rf)*100)
print("Recall:",metrics.recall_score(y_test, y_pred_rf)*100)
print('F1:',metrics.f1_score(y_test,y_pred_rf)*100)

**-> Confusion Matrix**

In [ ]:
cnf_mat_3=metrics.confusion_matrix(y_test,y_pred_rf)
print(cnf_mat_3)

In [ ]:
fig_3, ax_3 = plt.subplots()
sns.heatmap(cnf_mat_3,annot=True,cmap="YlGnBu",fmt='.2f')
ax_3.xaxis.set_label_position("top")
plt.xlabel('Predicted values')
plt.ylabel('Actual values')
plt.title('Confusion Matrix')
plt.tight_layout()

From the confusion matrix we observe that the Random Forest Classifier has 1354 True Positives and 127 True Negatives

Also, the model predicts 17 false Positives which is less than Logistic Regression model.

**-> ROC Curve**

In [ ]:
y_pred_proba3 = rand_for.predict_proba(x_test)[::,1]
fpr3,tpr3,_=metrics.roc_curve(y_test,  y_pred_proba3)
auc3 = metrics.roc_auc_score(y_test, y_pred_proba3)
plt.plot(fpr3,tpr3,label="data 1, auc="+str(auc3))
plt.xlabel('False Positive')
plt.ylabel('True Positive')
plt.legend(loc=4)
plt.show()

*AUC score for our Random Forest Classifier is 0.99.*

# **7- Compairing the performance of our models**

*Creating a function to display performance parameters of all models.*

In [ ]:
from sklearn.model_selection import cross_validate
def models_evaluation(x,y,folds):    
    log = cross_validate(logistic_regression, X, y, cv=folds)
    dtr = cross_validate(des_tree, X, y, cv=folds)
    rfc = cross_validate(rand_for, X, y, cv=folds)

    # Create a data frame with the models perfoamnce metrics scores
    models_scores_table = pd.DataFrame({'Logistic Regression':[logistic_regression.score(x_train,y_train)*100,
                                                               logistic_regression.score(x_test,y_test)*100,
                                                               metrics.recall_score(y_test, y_pred)*100,
                                                               metrics.f1_score(y_test,y_pred)*100,
                                                               auc*100],
                                                                             
                                      'Decision Tree':[des_tree.score(x_train,y_train)*100,
                                                       des_tree.score(x_test,y_test)*100,
                                                       metrics.recall_score(y_pred,y_pred_dt)*100,
                                                       metrics.f1_score(y_test,y_pred_dt)*100,
                                                       auc2*100],
                                       
                                      'Random Forest':[rand_for.score(x_train,y_train)*100,
                                                       rand_for.score(x_test,y_test)*100,
                                                       metrics.recall_score(y_test, y_pred_rf)*100,
                                                       metrics.f1_score(y_test,y_pred_rf)*100,
                                                       auc3*100]},
                                       
                                      index=['Accuracy', 'Precision', 'Recall', 'F1 Score','AUC Score'],
                                      columns=['Logistic Regression','Decision Tree','Random Forest'])
    
    # Add 'Best Score' column
    models_scores_table['Best Score'] = models_scores_table.idxmax(axis=1)
    
    # Return models performance metrics scores data frame
    return(models_scores_table)

In [ ]:
models_evaluation(X, Y, 3)

*The above table shows the different scores of the models together. We observe that the Decision Tree model has the highest accuracy and recall scores, whereas the Random Forest Classifier has the best precision, F1 and AUC score.*

In [ ]:
# Displaying confusion matrices of all models.

#Logistic Regression
fig, ax = plt.subplots()
sns.heatmap(cnf_mat_1,annot=True,cmap="YlGnBu",fmt='.2f')
ax.xaxis.set_label_position("top")
plt.xlabel('Predicted values')
plt.ylabel('Actual values')
plt.title('Logistic Regression')
plt.tight_layout()


#Decision Tree
fig_2, ax_2 = plt.subplots()
sns.heatmap(cnf_mat_2,annot=True,cmap="YlGnBu",fmt='.2f')
ax_2.xaxis.set_label_position("top")
plt.xlabel('Predicted values')
plt.ylabel('Actual values')
plt.title('Decision Tree')
plt.tight_layout()


#Random Forest
fig_3, ax_3 = plt.subplots()
sns.heatmap(cnf_mat_3,annot=True,cmap="YlGnBu",fmt='.2f')
ax_3.xaxis.set_label_position("top")
plt.xlabel('Predicted values')
plt.ylabel('Actual values')
plt.title('Random Forest')
plt.tight_layout()

*Summerizing all the matrices in  a tablee.*

In [ ]:
matrix_table=pd.DataFrame({'Logistic Regression' : [cnf_mat_1[0,0],
                                                    cnf_mat_1[0,1],
                                                    cnf_mat_1[1,0],
                                                    cnf_mat_1[1,1]],
                           
                           'Decision Tree'  : [cnf_mat_2[0,0],
                                               cnf_mat_2[0,1],
                                               cnf_mat_2[1,0],
                                               cnf_mat_2[1,1]],
                           
                           'Random Forest' : [cnf_mat_3[0,0],
                                              cnf_mat_3[0,1],
                                              cnf_mat_3[1,0],
                                              cnf_mat_3[1,1]]},
                          index=['True Positive','false Positive','False Negative','True Negative'],
                          columns=['Logistic Regression','Decision Tree','Random Forest'])

print(matrix_table)

*Random Forest Classifier makes the hightest number of correct predictions which is 1481 compared to 1473 of Decision Tree and 1433 of Logistic Regression.*

# **8- Business understanding of our model**

We have in total 14 variables of which 4 are continuous (Income,CCAvg,etc.), 2 are discrete (Age,Experience) and 8 are categorical (Credit Card,Securities Account,etc.).

We found out that ID (customer ID) coulumn was just a continuous number and hence was noisy data and wasn't helping us in any way to predict if a personal loan should be given to a particular customer. So, we droppped the ID column.

The colummns Age and Experience were highly correlated, and for a classification algorithm we should not have highly correlated columns in our data. Hence we droppped the Experience column so as to eliminate the correlation.
![AgevExp.png]()

Also from the ZIP Code we observed that it had 467 different categories which means it was a nominal variable as there was no intrinsic ordering to the categories. Thus, we had to also drop the ZIP Code column.

During univariate and multivariate analysis:

The Pie-chart for educatedness of customers showed us that most of our customers about 42% were undergraduates.

Customer Income and Average credit card spending per month had rightly-skewed graphs. To have normal distributions for them we applied Yeo-Jhonson power transformations.

Mortgage had a discontinuous graph. We don't need discontinuous graphs so we carried out binning on the mortgage column.

The confusion matrices of our models show us that the Decision Tree has the least number of False Negatives i.e the customers who are eligible for the personal loan but our model predicted that they won't get the personal loan.

From a bussiness point of view the number of such should be a less as possible if you want to increase the number of borrowers and increase the success ratio for the growth of the bank.

The random forest classifier has only **4 False Negative more** than the decision tree model which is not very much and also the random forest classifier make more number of correct predictions than the decision tree model.

**CONCLUSION:**

Thus, we can conclude that the **Random Forest Classfier performs better** than the logistic regression and decision tree in predicting the potential customers that are more likely to take a loan which will help in the overall growth of the bank.